@()(implicit request: RequestHeader)

@main("Number Clicker") {
  <input type="hidden" id="ws-route" value="@routes.Application.getSocket.absoluteURL()">

  <script src="assets/js/counting.js"></script>

  <h2>This is the number clicker page!</h2>
  <h3>The button below only increments when YOU click it.</h3>
  <button type="button" id="clicker">Click me!</button>
  <div id="cnt">0</div>

  <br>
  <br>
  <h3>And this button incrememnts when ANYONE clicks it.</h3>
  <button type="button" id="universalClicker">Click me!</button>
  <div id="universalCnt">0</div>

  <script src="@routes.Assets.versioned("javascript/counting.js")"></script>
}
